  *{font-size:10.5pt;margin:0px;padding:0px;}
  .codeDemoUL {
    list-style: none;
    clear:right;
    overflow:hidden;
    cursor:pointer;
    z-index:3;
    position:relative;
    margin-bottom:-1px;
  }
  .codeDemoUL li {
     float:left;
     padding:5px 10px;
     display:inline;
     border-bottom:none;
     margin: 0 5px 0 0;
     overflow: visible;
     line-height:1.5em;
  }
  .codeDemomouseOnMenu {
    border:1px solid #bdc5c8;
    border-bottom:1px solid #fff;
    background-color:#fff;
    font-weight:bold;
  }
  .codeDemomouseOutMenu{
    border:1px solid #bdc5c8;
    background-color:#d7e0e3;
  }
  .codeDemoDiv {
    clear:both;    border:1px solid #bdc5c8;    overflow:hidden;    margin-bottom:10px;
   }

